
.header-content{
    background-color: #1c3c44;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: space-evenly;
    align-items: center;
    padding: 1rem 10rem 0 10rem;
    /* width: 100%; */
}

.header-content .header{
    align-self: center;
    margin-left: auto;
    margin-right: 0;
}

.header ul{
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    gap:2rem;
    width: 100%;
    margin-right: auto;
}

.header-quote{
    display: flex;
    flex-direction: row;
    padding: 0rem 10rem 5rem 10rem;
    gap: 5rem;
    background-color: #1c3c44;
    align-content: space-evenly;
    align-items: center;
    /* width: 100%; */
}

.logo-img{
    min-width: 200px;
    max-width: 300px;
    height: auto;
}


li.link{
    align-items: flex-end;
    align-self: center;
}

.info-content{
    background-color: #ffffff;
    color: black;
    align-content: center;
    align-items: center;
    gap: 5rem;
    padding: 2rem 15rem 2rem 15rem;
    /* width: 100%; */
}

.quotes{
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    color: black;
    padding: 8rem 15rem 8rem 15rem;
    font-size: 32px;
}

.commenter{
    align-self: flex-end;
    font-size: 24px;
    font-weight: 600;
    margin-top: 1rem;
}


.action{
    display: flex;
    background-color: #3b82f6;
    border-radius: 1rem;
    margin: 5rem 10rem 5rem 10rem;
    padding: 5rem 5rem 5rem 5rem;
    font-size: 20px;
    font-weight: 700;
    justify-content: space-between;
    gap: 2rem;
}
.clickit{
    color: #bccce7;
    font-weight: 500;
}

.sign{
    border-color: white;
    box-shadow: none;
    min-width: 130px;
    max-height: 35px;
    flex-wrap: nowrap;
    background: none;
    box-shadow: none;
    outline: none;
}

.sign:active{
    border-style: outset;
}

.footer{
    display: flex;
    /* width: 100%; */
    height: 5rem;
    background-color: #1f2937;
    color: #ffffff;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.thumbs{
    padding: 2rem;
    display: flex;
    gap: 5rem;
    flex-wrap: wrap;
}
.thumbnails{
    border: solid 2px #ffffff;
    border-radius: 1rem;
    width: 200px;
    height: 200px;
    min-width: 200px;
}

.thumbnails img{
    object-fit: cover;
    height: 100%;
    border-radius: 1rem;
}

.hero-img{
    max-width: 1200px;
    height: auto;
    align-self: center;
}


li a{
    color: #fff;
    text-decoration: none;
}

.main-container{
    display: flex;
    flex-direction: column;
    margin: 0;
    gap: 0;
    padding: 0;
    align-items: center;
    justify-content: space-around;
    align-items: stretch;
    flex-wrap: wrap;
}



button{
    margin-top: 1rem;
    padding: 0.5rem 2rem;
    border-radius: 0.5rem;
    background-color:#3b82f6;
    color: #ffffff;
    font-size: 1rem;
    box-shadow: none;
    border-color: transparent;
}

button:hover{
    background-color: #709ee7;
    color:#122446;
}

img{
    width: 100%;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #ffffff;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

html{
    box-sizing: border-box;
}

*,
*::before,
*::after{
box-sizing: inherit;
}